<app-spinner *ngIf="loading"></app-spinner>
<div style="display: flex; flex-direction: row;">
    <img src="./assets/login/incentive.svg" alt="Logo not found" style="height: 100vh; ">
    <div style="display: flex; flex-direction: column;"> 
        <div style="margin-left: 14rem; margin-right: 14rem; margin-top: 4rem;">
            <h3>Bienvenido a la plataforma Energychain de MVM</h3>
            <form [formGroup]="userInfo" style="width: 100%; max-width: 100rem; margin-top: 3rem;">
                <div>
                    <label for="small-input" style="font-weight: 500; font-size: 13px;">Usuario</label>
                    <input formControlName="email" type="text">
                </div>
                <div style="margin-top: 2rem;">
                    <label for="small-input" style="font-weight: 500; font-size: 13px">Contraseña</label>
                    <input formControlName="password" type="password">
                </div>
            </form>
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 1rem;">
                <label style="font-size: 13px">
                    <input type="checkbox" id="cbox1" value="first_checkbox" />
                    Recordar Contraseña
                </label >
                <a style="font-size: 13px" href="#">Recuperar contraseña</a>
            </div>
            <div style="display: flex; width: 100%; margin-top: 2.5rem; margin-bottom: 1rem; ">
            <button 
            (click)="onSubmit()"
            style="
            width: 100%;
            padding: 9px 20px 9px 20px;
            border-radius: 15px;
            opacity: 0px;; 
            font-weight: 500; 
            background: #4C9C2E;
            font-family: 'Montserrat';
            border:none;
            cursor: pointer;
            color:white;">Ingresar</button>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <p style="font-size: 13px">¿No tienes una cuenta?</p>
                <a routerLink="/sign-up" href="#" style="margin-left: 1rem;font-size: 13px"> Registrarse</a>
            </div>
        </div>
        <div style="display: flex; justify-content: flex-end; margin-top: 3rem; margin-right: 5rem; margin-bottom: 1rem;">
            <img src="/assets/home/enerchain.svg" alt="Logo not found" height="60px">
        </div>
    </div>
</div>

