<app-spinner *ngIf="loading"></app-spinner>
<div style="display: flex; flex-direction: row;">
    <div class="image-container">
        <img src="./assets/login/incentive.svg" alt="Logo not found" class="login-logo">
        <div class="text-overlay">
            <h4 style="text-align: right;">Plataforma para la trazabilidad y centralización de la información de energías renovables</h4>
            <img src="../../assets/mvm.svg" alt="Logo not found" height="45px" style="margin-left: 1.5rem; margin-right: 1.5rem;">
        </div>
    </div>
    <div class="login-container"> 
        <div class="form-container ">
            <h3>Bienvenido a la plataforma Energychain de MVM</h3>
            <form [formGroup]="userInfo" class="form-title ">
                <div>
                    <label for="small-input" class="form-label ">Usuario</label>
                    <input formControlName="email" type="text">
                </div>
                <div class="form-input">
                    <label for="small-input" class="form-label ">Contraseña</label>
                    <input formControlName="password" type="password">
                </div>
            </form>
            <div class="options-container">
                <label class="checkbox-label">
                    <input type="checkbox" id="cbox1" value="first_checkbox" />
                    Recordar Contraseña
                </label >
                <a class="password-recovery" href="#">Recuperar contraseña</a>
            </div>
            <div class="login-button-container">
            <button 
            (click)="onSubmit()"
            class="login-button"
            >Ingresar</button>
            </div>
            <div class="sign-up-container ">
                <p style="font-size: 13px">¿No tienes una cuenta?</p>
                <a routerLink="/sign-up" href="#" class="sign-up-link"> Registrarse</a>
            </div>
        </div>
        <!-- <div class="enerchain-logo">
            <img src="/assets/home/enerchain.svg" alt="Logo not found" height="60px">
        </div> -->
    </div>
</div>

