<app-spinner *ngIf="loading"></app-spinner>
<div class="app-container">
    <div class="logo-container">
      <img src="./assets/home/enerchain.svg" alt="Logo not found" height="80px">
    </div>
    <div>
    </div>
    <div style="margin-left: 20%; margin-right: 20%;">
      <h1 class="main-title">Registro agente del mercado</h1>
        <form [formGroup]="createAgent" class="form-container" (ngSubmit)="onSubmit()">
          <!-- Tipos de agente -->
          <div class="grid-container">
            <div>
              <label >Seleccione el tipo de agente</label>
              <select 
              formControlName="agent_id"
              class="select-input"
              >
                <option *ngFor="let agent of agent_types" value={{agent.id}}>{{agent.name}}</option>
              </select>
            </div>
          </div>
          <!-- NIT y Empresa -->
          <div class="grid-container">
              <div>
                <label >NIT</label>
                <input formControlName="NIT" type="text">
              </div>
              <div>
                <label >Empresa</label>
                <input formControlName="company_name" type="text">
              </div>
           </div> 
           <!-- Contacto y teléfono -->
           <div class="grid-container">
              <div>
                <label >Contacto</label>
                <input formControlName="contact" type="text">
              </div>
              <div>
                <label >Teléfono</label>
                <input formControlName="phone" type="text">
              </div> 
           </div>
           <!-- Correo y Departamento -->
           <div class="grid-container">
              <div>
                <label >Correo</label>
                <input formControlName="email" type="text">
              </div>
              <div>
                <label >Departamento</label>
                <select
                formControlName="region" 
                class="select-input"
                (change)="onChangeRegion($event)">
              <option *ngFor="let region of regions" value={{region.region_id}}>{{region.description}}</option>
            </select>
              </div>
           </div>
           <!-- Ciudad y dirección -->
           <div class="grid-container">
              <div>
                <label >Ciudad</label>
                <select
                    formControlName="city" 
                    class="select-input">
                  <option *ngFor="let city of cities_by_region" value={{city.city_id}} [selected]="1">{{city.description}}</option>
                </select>
              </div>
              <div>
                <label >Dirección</label>
                <input 
                formControlName="address" 
                type="text">
              </div>
           </div> 
  
           <div class="grid-container">
            <div>
              <label >Contraseña</label>
              <input
              formControlName="password"  
              type="password">
            </div>
            <div>
              <label >Confirmar contraseña</label>
              <input 
              formControlName="password_validation"  
              type="password">
            </div> 
         </div>


         <div style="margin-top: 20px; display: flex; justify-content: flex-end; margin-right: 2rem;">
            <button 
            type="submit"
            class="registration-button">Registrarme</button>
        </div> 
        </form>
       

    </div>
  
  </div>