<mat-toolbar style="border-bottom: 1px solid #929292; background: white; margin-left: .1rem;">
    <mat-toolbar-row>
    <h1 style="font-family: 'Montserrat'; color: #4C9C2E; font-weight: 600; font-size: 24px;">Blockchain MVM</h1>
    <span class="example-spacer"></span>

    <div>
        <button mat-button style="height: 4rem;">
            <div style="display: flex; align-items: center;">
            <img src="../../../assets/icons/user.svg">
            <span style="font-family: 'Montserrat'; margin-left: 1rem; margin-right: 1rem; font-size: 1rem; font-weight: 400;">{{name}}</span>
            <img src="../../../assets/icons/selector.svg">
            </div>
        </button>
            <mat-menu>
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
            </mat-menu>
    </div>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
    </mat-toolbar-row>
</mat-toolbar>
