<div style="background-color: white; display: flex; height: 120vh; margin-left: 2rem; margin-right: 2rem; flex-direction: column; font-family: 'Montserrat';">
  <div style="display: flex; align-items: flex-end; margin-top: 30px; padding-left: 20px; font-weight: 600;">
    <img src="/assets/home/enerchain.svg" alt="Logo not found" height="80px">
  <!-- <h1 style="
   text-align: center;
   width: 100%;
   color: #4C9C2E;
   font-size: 24px;
  ">Registro agentes del mercado</h1> -->
  </div>
  <div style="margin-left: 20%; margin-right: 20%;">
    <h1 style="
    text-align: center;
    width: 100%;
    color: #4C9C2E;
    font-size: 24px;
    font-weight: 600;
   ">Registro agente del mercado</h1>
    <div class="grid-container" style="margin-top: 2.5rem;">
      <form style="width: 100%;">
        <div>
          <label for="small-input">Seleccione el tipo de agente</label>
          <select style="
              background-color: #f7fafc;
              border: 1px solid #d2d6dc;
              color: #4b5563;
              font-size: 0.875rem;
              border-radius: 0.375rem;
              outline: none;
              width: 100%;
              padding: 0.625rem;">
            <option value="GEN">Generador</option>
            <option value="COM">Comercializador</option>
            <option value="DIS">Distribuidor</option>
            <option value="TRAN">Transportador</option>
          </select>
        </div>
      </form>
     </div>
   <div class="grid-container">
    <form style="width: 100%;">
      <div>
        <label for="small-input">NIT</label>
        <input type="text">
      </div>
    </form>
    <form style="width: 100%;">
      <div>
        <label for="small-input">Empresa</label>
        <input type="text">
      </div>
    </form> 
   </div>
   <div class="grid-container">
    <form style="width: 100%;">
      <div>
        <label for="small-input">Contacto</label>
        <input type="text">
      </div>
    </form>
    <form style="width: 100%;">
      <div>
        <label for="small-input">Teléfono</label>
        <input type="text">
      </div>
    </form> 
   </div>
   <div class="grid-container">
    <form style="width: 100%;">
      <div>
        <label for="small-input">Correo</label>
        <input type="text">
      </div>
    </form>
    <form style="width: 100%;">
      <div>
        <label for="small-input">Departamento</label>
        <select style="
        background-color: #f7fafc;
        border: 1px solid #d2d6dc;
        color: #4b5563;
        font-size: 0.875rem;
        border-radius: 0.375rem;
        outline: none;
        width: 100%;
        padding: 0.625rem;">
      <option value="GEN">Antioquia</option>
    </select>
      </div>
    </form> 
   </div>
   <div class="grid-container">
    <form style="width: 100%;">
      <div>
        <label for="small-input">Ciudad</label>
        <select style="
        background-color: #f7fafc;
        border: 1px solid #d2d6dc;
        color: #4b5563;
        font-size: 0.875rem;
        border-radius: 0.375rem;
        outline: none;
        width: 100%;
        padding: 0.625rem;">
      <option value="GEN">Medellín</option>
    </select>
      </div>
    </form>
    <form style="width: 100%;">
      <div>
        <label for="small-input">Dirección</label>
        <input type="text">
      </div>
    </form> 
   </div>
   <div style="margin-top: 20px; display: flex; justify-content: flex-end; margin-right: 2rem;">
      <button style="width: Hug (129px)px;
      height: Hug (35px)px;
      padding: 9px 20px 9px 20px;
      gap: 10px;
      border-radius: 15px;
      opacity: 0px;; 
  font-weight: 500; 
  background: #4C9C2E;
  font-family: 'Montserrat';
  border:none;
  color:white;">Registrarme</button>
   </div> 
  </div>

</div>