<div style="background-color: white; display: flex; height: 120vh; margin-left: 2rem; margin-right: 2rem; flex-direction: column; font-family: 'Montserrat';">
    <div style="display: flex; align-items: flex-end; margin-top: 30px; padding-left: 20px; font-weight: 600;">
      <img src="./assets/home/enerchain.svg" alt="Logo not found" height="80px">
    </div>
    <div style="margin-left: 20%; margin-right: 20%;">
      <h1 style="
      text-align: center;
      width: 100%;
      color: #4C9C2E;
      font-size: 24px;
      font-weight: 600;
     ">Registro agente del mercado</h1>
        <form [formGroup]="createAgent" style="width: 100%; max-width: 100rem; margin-top: 2rem;" (ngSubmit)="onSubmit()">
          <!-- Tipos de agente -->
          <div class="grid-container">
            <div>
              <label for="small-input">Seleccione el tipo de agente</label>
              <select 
              formControlName="agent_id"
              style="
                  background-color: #f7fafc;
                  border: 1px solid #d2d6dc;
                  color: #4b5563;
                  font-size: 0.875rem;
                  border-radius: 0.375rem;
                  outline: none;
                  width: 100%;
                  padding: 0.625rem;">
                <option value="1">Generador</option>
                <option value="2">Comercializador</option>
                <option value="3">Distribuidor</option>
                <option value="4">Transportador</option>
              </select>
            </div>
          </div>
          <!-- NIT y Empresa -->
          <div class="grid-container">
              <div>
                <label for="small-input">NIT</label>
                <input formControlName="NIT" type="text">
              </div>
              <div>
                <label for="small-input">Empresa</label>
                <input formControlName="company" type="text">
              </div>
           </div> 
           <!-- Contacto y teléfono -->
           <div class="grid-container">
              <div>
                <label for="small-input">Contacto</label>
                <input formControlName="contact" type="text">
              </div>
              <div>
                <label for="small-input">Teléfono</label>
                <input formControlName="phone" type="text">
              </div> 
           </div>
           <!-- Correo y Departamento -->
           <div class="grid-container">
              <div>
                <label for="small-input">Correo</label>
                <input formControlName="email" type="text">
              </div>
              <div>
                <label for="small-input">Departamento</label>
                <select
                formControlName="region" 
                style="
                background-color: #f7fafc;
                border: 1px solid #d2d6dc;
                color: #4b5563;
                font-size: 0.875rem;
                border-radius: 0.375rem;
                outline: none;
                width: 100%;
                padding: 0.625rem;">
              <option value="1">Antioquia</option>
            </select>
              </div>
           </div>
           <!-- Ciudad y dirección -->
           <div class="grid-container">
              <div>
                <label for="small-input">Ciudad</label>
                <select
                formControlName="city" 
                style="
                background-color: #f7fafc;
                border: 1px solid #d2d6dc;
                color: #4b5563;
                font-size: 0.875rem;
                border-radius: 0.375rem;
                outline: none;
                width: 100%;
                padding: 0.625rem;">
              <option value="1">Medellín</option>
            </select>
              </div>
              <div>
                <label for="small-input">Dirección</label>
                <input 
                formControlName="address" 
                type="text">
              </div>
           </div> 
  
           <div class="grid-container">
            <div>
              <label for="small-input">Contraseña</label>
              <input
              formControlName="password"  
              type="password">
            </div>
            <div>
              <label for="small-input">Confirmar contraseña</label>
              <input 
              formControlName="password_confirm"  
              type="password">
            </div> 
         </div>


         <div style="margin-top: 20px; display: flex; justify-content: flex-end; margin-right: 2rem;">
            <button 
            type="submit"
            style="width: Hug (129px)px;
            height: Hug (35px)px;
            padding: 9px 20px 9px 20px;
            gap: 10px;
            border-radius: 15px;
            opacity: 0px;; 
            font-weight: 500; 
            background: #4C9C2E;
            font-family: 'Montserrat';
            border:none;
            cursor: pointer;
            color:white;">Registrarme</button>
        </div> 
        </form>
       

    </div>
  
  </div>